$myBackground: rgb(173, 216, 212);

.af-container {
    background-color: $myBackground !important;
    .form-control {
        width: 40rem !important;
    }
    [af-join] {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }
    [crm-icon="fa-copy"],
    [crm-icon="fa-plus"] {
        background-color: $myBackground !important;
    }
    [name="phone"] {
        margin-top: 2rem !important;
    }
    [name="Printout.Post_card"],
    [name="Printout.Xmas"] {
        margin-bottom: 2rem !important;
        display: block;
    }
    #my-notes-notes-2 {
        margin-bottom: 3rem !important;
    }
    .ng-isolate-scope.af-field-type-radio .crm-af-field.ng-scope label {
        padding-left: 6rem !important;
    }
    .ng-isolate-scope.af-field-type-radio label {
        display: inline-block !important;
    }
}

#crm-main-content-wrapper {
    padding: 2rem !important;
}

.crm-container #crm-main-content-wrapper > crm-angular-js > form#bootstrap-theme fieldset > div {
    padding: 3rem !important;
}

/* .af-container .af-container {
    [name="Printout.Xmas"] {
    margin-top: 2rem !important;
    margin-bottom: 5rem !important;
    border: 1px solid black !important;
    }
} */

.ng-isolate-scope.afform-directive {
    padding: 3rem !important;
}